
/* Base styles (Mobile First approach) */
body {
    font-size: 16px;
    /* Add your base styles here */
  }

.error{
  position: absolute;
  top: 0px;
  text-align: center;
  background-color: red;
  padding: 1em;
}

  /* index Styling */
  #index{
    background: #393A7B;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;  /*Check on it later */
  }


  #container-index{
      flex: 1;
      display: grid;
      grid-template-columns: 50% auto;
      margin: 0 auto;
      max-width: 1400px;
      background: #6C63FF;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 3.188em;
      min-height: 400px;
      margin: 0 auto;  
      width: 100%; 
  }

  .hero-img{
      background:#ffffff;
      grid-column: 1/2;
      border-radius: 51px 0 0 51px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
  }

  .hero-img img{
      position: relative;
      width: 100%;
  }


.log_signup-section{
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  }
  
.log_signup-section p{
  margin: 1em 0; 
  color: #ffffff;
  font-family: 'Source code Pro' monospace;
  text-transform: uppercase;
  text-align: center;
}

/* Ensure links don't interfere with button styling */
.log_signup-section a {
  text-decoration: none;
  display: inline-block;
}

  
/* Button Styles */
.signupBtn, .loginBtn {
  display: inline-block;
  width: 286px;
  padding: 15px 0;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  z-index: 2;
}


.signupBtn {
  background: #F29A2E;
  color: #ffffff;
  border: none;
}

.loginBtn {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #FFFFFF;
}

.signupBtn:hover {
  background: #e08518;
}

.loginBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#bottom{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  /* background-color: red; */
  /* clip-path: url(#bottomClip); */
}


  
  /* Small devices (landscape phones, 360px and up) */
  @media screen and (min-width: 22.5em) {
    body {
      
      font-size: 16px;
    }

    #top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw; /* Use viewport width */
      height: 15em;
      z-index: 2;
      background-color: #393A7B;
      clip-path: url(#topClip);
    }

    #top .title-center h1{
      font-size: 18px;
      color: #fff;
  
    }

    #container-index{
      display: grid;
      position: relative;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      margin: 1em;
      height: auto;
      min-height: calc(100vh - 100px);
    }

    .hero-img img:first-child{
        display: none;
    }
    
    .hero-img img:last-child{
        display: block;
        width: 100%;
    }

    .hero-img{
      grid-column: 1/-1;
      grid-row: 1/2;
      border-radius: 51px 51px 0 0;
      padding: 1em;
    }

    .log_signup-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      
      grid-column: 1/-1;
      grid-row: 2/3;
      padding: 1.5em;
    }
    .log_signup-section .login{
      color: #fff;
    }

    .signupBtn, .loginBtn {
      width: 240px;
      font-size: 1.2em;
      z-index: 2;
  }

  .log_signup-section p {
    margin: 1rem 0;
    font-size: 1em;
}
  
    /*Styles the header file*/
    .header {
      display: none;
    }

    
 

    
    /* End of Small devices */
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media screen and (min-width: 48em) {
    body {
      font-size: 17px;
    }

    #index {
      padding-bottom: 2em;  /* Smaller padding for smaller screens */
    }
    
    #container-index {
        min-height: 300px;
    }


    #top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw; /* Use viewport width */
      height: 25em;
      z-index: 2;
      background-color: #393A7B;
      clip-path: url(#topClip);
    }

    
    #top .title-center h1{
      font-size: 25px;
      color: #fff;
  
    }

    #container-index {
        margin: 0.5em;
        border-radius: 2em;
    }

    .hero-img {
        border-radius: 2em 2em 0 0;
    }

    .signupBtn, .loginBtn {
        width: 200px;
        font-size: 1em;
        padding: 12px 0;
        z-index: 2;
    }

    /* Add your styles for medium devices here */
  }
  
  /* Large devices (desktops, 992px and up) */
  @media screen and (min-width: 62em) {
    body {
      font-size: 18px;
    }

    #bottom{
      display: none;
    }

        #container-index .hero-img img:first-child{
        display: block;
        width: 100%;
    }
    #container-index .hero-img img:last-child{
        display: none;
    }
    .header {
      display: grid;
      width: 100%;
    }
    #top{
      display: none;
    }
    #container-index{
      background: #6C63FF;
      grid-template-rows: 1fr;
      margin: 4em;
      width: 90%;
    }

    .hero-img{
      background: #fff;
      border-radius: 51px 0 0 51px;
      width: 100%;
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .log_signup-section{
      grid-column: 2/3;
      grid-row: 1/2;
      
    }  

     /*edit propic and username style*/
    .image-container {
      display: grid;
      grid-template-columns: 2fr;
      gap: 1em;
      width: 10em;
      padding: 1em;
    }
    #proImage{
      grid-column: 1/2;
      width: max-content;
      text-align: center;
      background-color: #514e7f;
      border-radius: 50%;
    }
    .usrID{
      grid-column: 2/3;
    }

    .editProTop h1{
      color: #000;
    }

    .editProTop {
      grid-area: Profile;
      background: #D0CDE1;
      max-width: 1920px;
      margin: 1em;
      border-radius: 8px;
    }
  
  
  .editProBottom {
      grid-area: details;
      background-color: #514E7F;
      max-width: 1920px;
      height: 0 auto;
      margin: 1em;
      border-radius: 8px;
      padding: 2em;
    }

    .editProBottom form{
      display: grid;
      background: #fff;
      grid-template-columns: 2fr;
      grid-template-rows: 2fr;
      gap: 1.5em;
      width: max-content;
      padding: 0.5em;
      border-radius: 5px;
    }

    .editProBottom form input{
      margin-bottom:0.5em ;
    }

    .editProBottom form select{
      font-size: 2rem;
      margin-bottom: 0.5em;
      width: max-content;
      padding: 0.5em;
      border-radius: 5px;
    }

    .memberDetails{
      grid-column: 1/2;
      grid-row: 1/2;
      
    }

    .parentDetails{
      grid-column: 2/3;
      grid-row: 1/2;
      
    }

    .memberDetails h1{
      color: #fff;
      background-color:  #393A7B;
      width: max-content;
      padding: 0.5em;
      font-weight: 500;
      border-radius: 5px;
    }
    .parentDetails h1{
      color: #fff;
      background-color:  #393A7B;
      width: max-content;
      padding: 0.5em;
      font-weight: 500;
      border-radius: 5px;
    }

    .passEdit{
      grid-column: 1/3;
      grid-row: 2/3;
    }
    
  .passEdit{
    position:relative;
    background: #D0CDE1;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
  }
  .passEdit :nth-child(1){
    color: #6c63ff;
    font-family: Source Code Pro;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
  }

  .passEdit input{
    width: 360px;
    height: 39px;
    background: #514e7f;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 30px 2px rgba(47,46,65,0.4);
    -moz-box-shadow: inset 0px 0px 30px 2px rgba(47,46,65,0.4);
    box-shadow: inset 0px 0px 30px 2px rgba(47,46,65,0.4);
    /*Font*/
    padding: 0.5em;
    color: #f2f2f2;
    font-family: Source Code Pro;
    font-size: 15px;
    font-weight: 500;
  }

  .passEdit :nth-child(4){
    position:absolute;
    top: 70px;
    right: 25px;
    padding: 5px 22px;
    width: 131px;
    height: 43px;
    background: #f29a2e;
    border-radius: 10px;

    color: #ffffff;
    font-family: Source Code Pro;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
  }
    /* User list styling */
  /* #userlist{

  } */

    /* Add your styles for large devices here */
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media screen and (min-width: 75em) {
    body {
      font-size: 19px;
    }
    /* index styling */
 
    log_signup-section{
      margin-top: auto;
    }

    #container-index .hero-img img:first-child{
        display: block;
        width: 100%;
    }
    #container-index .hero-img img:last-child{
        display: none;
    }
    .header {
      display: grid;
    }
    #top{
      display: none;
    }
    #container-index{
      background: #6C63FF;
      grid-template-columns: 50% auto;
      grid-template-rows: 1fr;
    }

    .hero-img{
      background: #fff;
      border-radius: 51px 0 0 51px;
      width: 100%;
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .log_signup-section{
      grid-column: 2/3;
      grid-row: 1/2;
      
    }  
    /* Settings Form Styling */
    


    /* Add your styles for extra large devices here */
  }
  
  /* Extra extra large devices (TV, 1400px and up) */
  @media screen and (min-width: 87.5em) {
    body {
      font-size: 20px;
    }
    /* Add your styles for extra extra large devices here */
  }
