body {
    background: rgb(181, 222, 255);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navigation Styling */
.navigation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.navigation a{
    text-decoration: none;
    color: inherit;
    display: block;
}

.dashboardLink , .viewReports, .CreateReport, .addProgram{
    background-color: #3498db;
    border-radius: 8px;
    padding: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 1em;
}

.dashboardLink, .addProgram, .CreateReport,  h3{
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
}

h1 {
text-align: center;
color: #2c3e50;
}

.dashboard {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 20px;
}

.card {
background-color: #f7f7f7;
border-radius: 8px;
padding: 20px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
margin-top: 0;
color: #3498db;
}

#totalMembers {
font-size: 3em;
font-weight: bold;
color: #2980b9;
}

canvas {
max-width: 100%;
}  

/* ReportForm Styling */
#reportForm{
    max-width: 800px;
}

form {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.program-form {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
label {
    display: block;
    margin-top: 10px;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #2980b9;
}

/* Add Clubhouse PRograms Styling */
#addPrograms{
    max-width: 800px;
}

/* Program Data */

#programData .card{
    margin-bottom: 1.5rem;
}

#programData .card img{
    width: 250px;
}

#programData .image-container{
    width: 100%;
}

/* Year and Month Filter styling */
.filter-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.year-filter select,
.month-filter select {
    padding: 10px;
    font-size: 16px;
}

/* Tablet */
@media (min-width: 768px) { 


}

/* Desktop */
@media (min-width: 1024px) { 
    .navigation {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        margin-bottom: 20px;
    }

    

    .navigation a{
        text-decoration: none;
        color: inherit;
        display: block;
    }

    .dashboardLink, .viewReports, .CreateReport, .addProgram{
        background-color: #3498db;
        border-radius: 8px;
        padding: 1px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-top: 2em;
    }

    .dashboardLink, .addProgram, .CreateReport,  h3{
        color: #ffffff;
        font-size: 1em;
        font-weight: bold;
    }

    .navigation .dashboardLink:hover {
        background-color: #F29A2E;
        /* transform: scale(1.09); */
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

     .CreateReport:hover, .addProgram:hover, .viewReports:hover {
        background-color: #F29A2E;
        /* transform: scale(1.09); */
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

}